/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.faq-section {
  padding: 12.8rem 2.4rem;
}
.container-faq {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.faq-sidebar {
  width: 30rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.sidebar-faq-intro {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.6rem;
}
.sidebar-link:link,
.sidebar-link:visited {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: all 0.4s;
  color: #151515;
}
.sidebar-link:hover,
.sidebar-link:active {
  color: #ff6852;
  padding-left: 1rem;
}
.link-contact:link,
.link-contact:visited {
  border-bottom-color: #151515;
  display: inline-block;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #151515;
  transition: border-color 300ms ease;
  color: #151515;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.link-contact:hover,
.link-contact:active {
  border-bottom-color: #ff6852;
}
h4 {
  transition: all 0.4s;
}
h4:hover {
  color: #ff6852;
  padding-left: 1rem;
}
