/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.container {
  /* 114px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  margin-left: 10rem;
  max-width: 120rem;
  box-sizing: border-box;
}

/* .grid-category {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."; 
*/
/* .container-categories {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
} */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.grid-blogs-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
